nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: $nav-width;
    height: 100%;

    ul {
        padding: 1rem 0;
        
        li {
            padding: .3rem 2rem;

            @include mq($until: tablet) {
                padding: .2rem 1rem;
            }

            &:hover {
                background-color: lighten($color: $bg-color, $amount: 30);
            }
        }
    }

    a {
        border-bottom: none;
        color: $text-color;
    }
}