nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: $nav-width;
    height: 100%;

    padding: 1rem 2rem;   

    @include mq($until: tablet) {
        padding: .5rem 1rem;
    }

    li {
        :hover {
            background-color: lighten($color: $bg-color, $amount: 30);
        }
    }

    a {
        border-bottom: none;
        color: $text-color;
    }
}