$padding-full: 2rem;
$padding-tablet: 1rem;

nav {
    svg {
        width: 1.5rem;
        height: auto;
        fill: $text-color;
        position: relative;
        top: 0.2rem;
    }
}

.logo.title {
    font-weight: $bold-font-weight;
    padding-left: $padding-full;

    @include mq($until: tablet) {
        padding-left: $padding-tablet;
    }

    svg {
        fill: $link-color;
    }
}

nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: $nav-width;
    height: 100%;

    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding-top: .8rem;

    ul {
        padding: 1rem 0;

        li {
            padding: .3rem $padding-full;

            @include mq($until: tablet) {
                padding: .2rem $padding-tablet;
            }

            &:hover {
                background-color: lighten($color: $bg-color, $amount: 10);
            }
        }
    }

    a {
        border-bottom: none;
        color: $text-color;
    }
}