// site colors
$text-color: white;
$text-color-negative: rgb(147, 152, 160);
$brand-color: rgb(29,37,52);
$link-color: rgb(0,114,154);
$link-hover-color: #4faed0;
$grey-bg-color: #313131;
$bg-color: rgb(24, 26, 29);
$main-color: #242629;
$hairline-color: rgb(230,230,230);
$selection-bg-color: rgba(255,255,100,0.5);
$border-color: rgba(255,255,255,0.12);


// typographic defaults
$base-font: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;
$code-font: Courier, monospace;
$base-font-size: 62.5%;
$base-font-weight: 300;
$bold-font-weight: 600;
$base-line-height: 1.5;

// sizing
$nav-width: 15rem;

